<div class="container lg:px-60 ">
    <h2 class="my-6">{{.Params.securityHead}}</h2>
   
    <p class="mb-6">{{.Params.securityPara1}}{{.Params.securityPara2}}</p>
       
        <div class=" relative  lg:flex  m-8">
            <div class=" ml-4 mb-8">
            <img src="/images/sec-doors/TENTUFF-Hinged-Door-tp.png"
                class="foto w-full h-full object-cover shadow-md"
                alt="description" />
                <h5 class=""> Hinged Security - Main Door</h5>
            <a href="/bi-folddoors/" class="ml-10">More Info.. </a>
            </div> 
            <div class="mt-6 ml-20">
                <h4>{{.Params.securityHead1}}</h4>
                <ul class="mt-6">
                    <li> <svg class="inline-block w-6 h-6" position=""  fill="#cc6f04">
              
                        <path d="M8.294 16.998c-0.435 0-0.847-0.203-1.111-0.553l-3.573-4.721c-0.465-0.613-0.344-1.486 0.27-1.951 0.615-0.467 1.488-0.344 1.953 0.27l2.351 3.104 5.911-9.492c0.407-0.652 1.267-0.852 1.921-0.445s0.854 1.266 0.446 1.92l-6.984 11.21c-0.242 0.391-0.661 0.635-1.12 0.656-0.022 0.002-0.042 0.002-0.064 0.002z"></path>
                        </svg><span> &nbsp;Super-strong 304 Grade high tensile stainless steel wire</span></li>
                    <li><svg class="inline-block w-6 h-6" position=""  fill="#cc6f04">
              
                        <path d="M8.294 16.998c-0.435 0-0.847-0.203-1.111-0.553l-3.573-4.721c-0.465-0.613-0.344-1.486 0.27-1.951 0.615-0.467 1.488-0.344 1.953 0.27l2.351 3.104 5.911-9.492c0.407-0.652 1.267-0.852 1.921-0.445s0.854 1.266 0.446 1.92l-6.984 11.21c-0.242 0.391-0.661 0.635-1.12 0.656-0.022 0.002-0.042 0.002-0.064 0.002z"></path>
                        </svg><span> &nbsp;Anti-theft 3-point locking mechanism</span></li>
                    <li><svg class="inline-block w-6 h-6" position=""  fill="#cc6f04">
              
                        <path d="M8.294 16.998c-0.435 0-0.847-0.203-1.111-0.553l-3.573-4.721c-0.465-0.613-0.344-1.486 0.27-1.951 0.615-0.467 1.488-0.344 1.953 0.27l2.351 3.104 5.911-9.492c0.407-0.652 1.267-0.852 1.921-0.445s0.854 1.266 0.446 1.92l-6.984 11.21c-0.242 0.391-0.661 0.635-1.12 0.656-0.022 0.002-0.042 0.002-0.064 0.002z"></path>
                        </svg><span> &nbsp;Patented ‘Grip-lock’ mesh retention system</span></li>
                    <li><svg class="inline-block w-6 h-6" position=""  fill="#cc6f04">
              
                        <path d="M8.294 16.998c-0.435 0-0.847-0.203-1.111-0.553l-3.573-4.721c-0.465-0.613-0.344-1.486 0.27-1.951 0.615-0.467 1.488-0.344 1.953 0.27l2.351 3.104 5.911-9.492c0.407-0.652 1.267-0.852 1.921-0.445s0.854 1.266 0.446 1.92l-6.984 11.21c-0.242 0.391-0.661 0.635-1.12 0.656-0.022 0.002-0.042 0.002-0.064 0.002z"></path>
                        </svg><span> &nbsp;Tamper-proof concealed fixing</span></li>
                    <li> <svg class="inline-block w-6 h-6" position=""  fill="#cc6f04">
              
                        <path d="M8.294 16.998c-0.435 0-0.847-0.203-1.111-0.553l-3.573-4.721c-0.465-0.613-0.344-1.486 0.27-1.951 0.615-0.467 1.488-0.344 1.953 0.27l2.351 3.104 5.911-9.492c0.407-0.652 1.267-0.852 1.921-0.445s0.854 1.266 0.446 1.92l-6.984 11.21c-0.242 0.391-0.661 0.635-1.12 0.656-0.022 0.002-0.042 0.002-0.064 0.002z"></path>
                        </svg><span> &nbsp;Weather and corrosion-resistant</span> </li>
                </ul>
            </div> 

        </div>
        <div class="mt-20 mb-20">
            <div class="grid lg:grid-cols-3 gap-20 mb-8 mt-5 ml-0 sm: gap-10 ml-24">
                <div class=" relative  mb-8" style="width:300px; height:200px">
                    <img src="/images/sec-doors/Security-doors-Bi-Fold-TENTUFF-LR.jpg"
                        class="foto w-full h-full object-cover rounded shadow-md"
                        alt="description" />
                        <h4 class=""> Bi-Fold Security Door</h4>
            <a href="/bi-folddoors/" class="ml-10">More Info.. </a>
                </div>
                <div class=" relative  mb-8" style="width:300px; height:200px">
                    <img src="/images/sec-doors/Security-doors-French-Tentuff-LR.jpg"
                        class="foto w-full h-full object-cover rounded shadow-md"
                        alt="description" />
                        <h4 class="hing heading-3">French Security Door</h4>
            <a href="/frenchdoors/" class="ml-10">More Info.. </a>
                </div>
                <div class=" relative mb-8" style="width:300px; height:200px">
                    <img src="/images/sec-doors/Security-doors-Sliding-Doors-TENTUFF-LR.jpg"
                        class="foto w-full h-full object-cover rounded shadow-md"
                        alt="description" />
                        <h4 class="hing heading-3"> Sliding Security Door</h4>
            <a href="/slidingdoors" class="ml-10">More Info.. </a>
                </div>
            </div> 
        </div>
</div>